body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    margin-top: 20px;
}
#stack {
    border: 3px solid #000;
    border-radius: 5px;
    position: relative;
    width: 90vw;
    height: 90vw;
}

#stack>canvas.boardCanvas {
    position: absolute;
    left: 0;
    top: 0;
}

#stack>canvas#animation {
    position: absolute;
    top: 2.5%;
}

.button {
    margin-bottom: 20px;
    margin-left: 10px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #000000;
    color: #000000;
    background-color: #ffffff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:active {
    margin-bottom: 20px;
    margin-left: 10px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #000000;
    color: #000000;
    background-color: #cccccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button.selected {
    background-color: rgb(224, 154, 32)
}

.picker {
    position: absolute;
    left: 0;
    top: 0;
}